<!DOCTYPE html>
<html>
  <head>
    <title>Musicapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
    <h5>Logged in as: <%= current_user.email %></h5>
    <form action="<%= session_url %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <%= auth %>
      <input type="submit" value="Log out?">
    </form>
  <% else %>
    <form action="<%= new_session_url %>" method="GET">
      <input type="submit" value="Login">
    </form>
    <br>
    <form action="<%= new_user_url %>" method="GET">
      <input type="submit" value="Sign up?">
    </form>
  <% end %>
    <%= yield %>
  </body>
</html>
