<h2>Edit @album.title for: <%= @band.name %></h2>

<form action="<%= album_url %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <%= auth %>
  <label>Band Name: 
    <select name="album[band_id]" required>
      <% Band.all.each do |band| %>
        <option value="<%= band.id %>" <%= 'selected' if band.id == @band.id %> ><%= band.name %></option>
      <% end %>
    </select>
  </label>
  <br>

  <label>Album Title: 
    <input type="text" name="album[title]" value="<%= @album.title %>">
  </label>
  <br>
  <label>Album Date:
    <input type="date" name="album[yr]" value="<%= @album.yr %>">
  </label>
  <br>
  <label>Live Album?
    <input type="radio" name="album[live_album]" value="true" <%= 'checked if @album.live_album == true'%>>Live
    <input type="radio" name="album[live_album]" value="false" <%= 'checked if @album.live_album == false'%>>Studio
  </label>
  <input type="submit" value="submit">
</form>